*{
	margin: 0;
	padding: 0;
  	box-sizing:border-box;
  	font-family: 'poppons',sans-serif;
}
body{
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.801),rgba(154, 154, 154, 0.3));
}

.BGvideo{
	width: 100%;
	height: 247.4% ;
	/* margin-top: -60px; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(154, 154, 154, 0.3));
	position: absolute;
	padding: 0 0;
	display: auto;
	align-items: center;
	justify-content: center;
	/* z-index: 0; */
}

.back-video{
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media(min-aspect-ratio: 16/9){
	.back-video{
		width: 100%;
		height: auto;
	}
}
@media(max-aspect-ratio: 16/9){
	.back-video{
		width: auto;
		height: 100%;
	}
}


#logo{
	/*display: block;*/
	position: absolute;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left:-5px;
}

#logo:hover{
	/*display: block;*/
	height: 41px;
	width: 41px;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px ;
}

nav{
	z-index: 4;
	padding-left: 20px;
	position:fixed;
	display: flex;
	width : 100%;
	height: 59px;
	background-color: rgba(0, 0, 0,0.801);	
	background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(154, 154, 154, 0.3));
	/* background: transparent; */
	background-image: linear-gradient(rgba(0, 0, 0,10 ),rgba(0, 0, 0, 0));
}

nav ul{
	padding-left: 250px;
	margin: auto;
	text-align: center;
	align-content: center;
}

nav ul li{
	list-style: none;
	display: inline-block;
	/*padding: 10px;*/
	margin-left: 30px;
	margin-top: 4px;
	width: fit-content;
} 
nav ul li a{
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-family: Oswald;
	color: #ffffff;
	margin-left: 20px;
}

.home {
	/* text-decoration: underline; */
	border-bottom: 1px solid rgb(255, 255, 255);
}

.home:hover{
	border-bottom:none;
	transition: 10s;
}

nav ul li a:hover{
	color: rgb(122, 122, 232);
}

form {
	background-color: #0d0d0d;
	width: 300px;
	height: 44px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 9px;
	margin-right: 10px;
  }

input {
	all: unset;
	font: 16px system-ui;
	color: #fff;
	height: 100%;
	width: 100%;
	padding: 6px 10px;
}

::placeholder {
	color: #fff;
	opacity: 0.7; 
  }

  svg {
	color: #fff;
	fill: currentColor;
	width: 40px;
	height: 40px;
	padding: 10px;
  }

  button {
	all: unset;
	cursor: pointer;
	width: 44px;
	height: 44px;
  }

  


/*h1{
	font-family: cursive;
	color: ghostwhite;
	text-align: center;
}*/

@font-face { font-family: gangof_three; src: url('Fonts/go3v2.ttf'); } 

.content{
	text-align: center;
    padding-top: 350px;
    padding-bottom:335px;
}

.content h1{
	font-size: 160px;
	font-family: aremat font;
	color: #fffdfd;
	font-weight: 600;
	transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
	color: transparent;
}

.content a{
	text-decoration: none;
	display: inline-block;
	color: #ffffff;
	font-size: 24px;
	border: 2px solid #ffffff;
	padding: 14px 120px;
	border-radius: 50px;
	margin-left: 20px;
}

.content a:hover{
	font-size: 26px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(25, 25, 25, 0.3));
}

.Animepara{
	background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8));
	color: #ffffff;
	padding: 30px 100px;	
	border: #bbb 2px solid;
	border-left: transparent;
	border-right: transparent;
}

.Big3{
	float: left;
	background-color: #fff;
	max-width: 1100px;
	padding:20px 20px;
	display: flexbox;
	margin: 100px;
	margin-top: 140px;
	border-radius: 20px;
	overflow:hidden;
	box-shadow: 15px 15px 15px #000000;
}

strong{
	font-size: 40px;
	color:blue;
}
strong:hover{
	color: #7617ce;
}

p{
	font-size: large;
	color: rgb(0, 0, 0);
	border:#f3eff6 4px solid;
	border-radius: 5px;
	border-width: 10px;
	font-size: 25px;
	font-family: poppins;
	box-sizing: border-box;
	text-align: justify;
	font-family: Poppins;		
	border: rgb(239, 233, 233);
	
}

.naruto{
	float:right;
	max-width: 30%;
	
}


footer{
	position:static;
	margin-top: 45px;
	z-index: 3;
}

#Banner{
	width: 100%;
	height: 20%;
	padding-top: 2300px;
	position:static;	
	z-index: 1;
}

/* ****Video Page CSS Codes**** */

body{
	background-color: rgb(28, 28, 28);
}

#BannerVideo{
	size: 10px;
	width: 100%;
	height: 20%;	
}

.VidoePageNav{
	z-index: 1;
	padding-left: 20px;
	padding-top: 5px;
	position:fixed;
	background-color: rgb(216, 189, 189);
	background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(154, 154, 154, 0.3));
}

.VidoePageNav ul li a:hover{
	font-size: 30px;
	color: rgb(91, 60, 170);
}
aside {
	position: absolute;
	width:20%;
	inset: 20px;
	padding-top: 60px;
	border-left: #111;
	border-radius: 50px;
	background-color: rgb(0, 0, 0);	
	overflow:hidden;
	box-shadow: 1px 15px 15px #7617ce;
	background-image: linear-gradient(rgba(0, 0, 0, 0.801),rgba(154, 154, 154, 0.3));
}

aside  ol{
	position:absolute;
	left:0;
	width:100%;
}

aside  ol li{
	position: relative;
	list-style: none;
	margin-left: 2px;
	margin-top: 4px;
	width: 100% ; 
	border-top-left-radius: 30px ;
	border-bottom-left-radius: 30px;
}
aside ol li:hover{
	background: #fff;
	color:#111;
} 
aside  ol li a{
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-top:30px;
	padding-bottom: 30px;
	color: #ffffff;
	margin-left: 20px;	
}

aside  ol li :hover{
	/* background-color: #f3eff6; */
	color: #7617ce;
}


